@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');

h2{
    font-family: 'Autour One';
}
#sectionHome {
    display: flex;
    flex-direction: column;
}

#sectionHome img {
    width: 30%;
}

#botonlogin{
    border-radius: 10px;
    border: 2px;
}

#postit{
    border: 2px;
    border-radius: 10px;
    font-family: 'Autour One';
    position: center;
}